.page-container {
  display: flex; 
  min-height: 100vh; 
  background-color: #e4e4e4; 
}

.re-title{
  font-size: 20px;
  margin-top: 50px;
  color: #295b23;
}

  .admin-table-container {
    font-size: 14px;
    flex-grow: 1; 
    margin: 10px; 
    background-color: #f9f9f9; 
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
  
    .admin-table-container .search {
      margin: 10px 0;
     margin-left: 20px;
      padding: 8px;
      width: 50%;
      border-radius: 8px;
      border: 1px solid #ddd;
      font-size: 12px;
    }
    
  .admin-table {
    width: 70%;
    border-radius: 16px !important;
    border-collapse: collapse;
    margin: 20px;
    margin-top: 30px;
  }
  
  .admin-table th,
  .admin-table td {
    padding: 12px 20px;
    text-align: left;
    border-bottom: 1px solid #d1d1d1;
  }
  
  .admin-table th {
    background-color: #45bc31;
    color: white;
  }
  
  .status-column {
    display: flex;
    gap: 10px; /* Controls space between buttons */
    justify-content: flex-start; /* Align buttons horizontally */
    align-items: center; /* Vertically center buttons if necessary */
  }
    
  .status-button {
    padding: 5px 5px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60px;
    font-weight: bold;
    margin: 2px;
    
  }
    
  
  .status-button.canceled {
    background-color: #e74c3c;
    
    color: white;
  }
  
  .status-button.finished {
    background-color: #58a653;
    color: white;
  }
  
  .status-canceled {
    background-color: #e74c3c;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .status-finished {
    background-color: #58a653;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  