.schedulepage-container {
    display: flex; 
}

.schedule-details-wrapper {
    flex: 1; 
    padding: 40px;
    background-color: #f9f9f9; 
    border-radius: 8px;
    margin-left: 20px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

h2 {
    margin-bottom: 40px;
    font-size: 1.5rem;
    color: #333;
    text-align: center; 
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.schedule-table thead {
    background-color: #4dcf37; 
    color: white; 
}

.schedule-table th,
.schedule-table td {
    padding: 12px 15px; 
    text-align: left;
    border: 1px solid #ddd; 
}

.schedule-table tr:nth-child(even) {
    background-color: #f2f2f2; 
}

.schedule-table tr:hover {
    background-color: rgba(108, 255, 82, 0.2); 
    transition: background-color 0.3s ease; 
}

.error-message {
    color: #e24c4c;
    text-align: center;
    font-size: 16px; 
    margin: 20px 0; 
}

.delete-schedule-button {
    width: 100px;
    padding: 8px 10px; 
    background-color: #ff4d4d; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.delete-schedule-button:hover {
    background-color: #e60000; 
}

.payment-wrapper {
    text-align: center;
    margin-top: 100px; 
}

.payment-button {
    padding: 12px 20px;
    background-color: #1e9c33; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.payment-button:hover {
    background-color: #097737;
    transform: translateY(-2px); 
}

.schedule-time-wrapper {
    text-align: center; 
    margin-top: 100px; 
}
.schedulegenerate-report-button {
    padding: 12px 20px;
    background-color: #1e9c33; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    
}

.schedulegenerate-report-button:hover {
    background-color: #097737;
    transform: translateY(-2px); 
    
}