.sidebarmenu {
    height: 800px;
    background-color: #ffffff;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    transition: all 0.3s ease; 
    width: 350px;
}

.logoo-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: -150px; 
    height: 300px; 
}

.logoo {
    margin-top: -180px;
    min-width: 100px; 
    min-height: 100px; 
    background-image: url('../../Assets/logo.png'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
 
}

.sidebarmenu a {
    display: block;
    padding: 12px 15px; 
    text-decoration: none;
    color: #333;
    background-color: #f9f9f9; 
    border-radius: 5px; 
    margin: 5px 0; 
    transition: background-color 0.3s, color 0.3s; 
    margin-top: 40px;
}

.sidebarmenu a:hover {
    color: #ffffff; 
    background-color: #56bb4d; 
}

.sidebarmenu span {
    display: block;
    padding: 10px 15px; 
    color: #999; 
    margin: 5px 0; 
}

.sidebarmenu-bottom {
    width: 100%; 
    margin-top: auto; 
    border-radius: 5px;
}

.sidebarmenu-bottom button {
    margin-top: 50px;
    width: 100%;
    padding: 12px; 
    background-color: #13a14e;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s; 
}

.sidebarmenu-bottom button:hover {
    background-color: #096b16; 
    transform: translateY(-2px); 
}
